body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(62, 62, 168);
    transition: 1s;

}

.title{
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

#sec{
    background-color: white;
    max-width: 500px;
    min-height: 150px;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbtn{
    padding: 0.7em 1.5em;
    margin: 0 5px;
    background-color: white;
    color: rgb(62, 62, 168);
    border: 1px solid rgb(62, 62, 168);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

.mainbtn:hover{
    color: white;
    background-color:#3e3ea8;
}